<p>
  <b>User:</b>
  <%=h @comment.user %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>Recipe:</b>
  <%=h @comment.recipe %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>