<h2> <%=h @recipe.name %> </h2> 

<br>

<b> Ingredients: </b> <br>
<%=h simple_format(@recipe.ingredients) %>

<b> Content: </b> <br>
<%=h @recipe.content %>

<br><br>

<b> Added by: </b>
<% u = User.find(@recipe.user_id).email %>
<% u =  u[/(.*@)/] %>
<%=h  u.chop %> <br>

<b> Rate: </b>
<%=h @recipe.rate %>
 
<br>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Destroy', @recipe, :confirm => 
		'Are you sure?', :method => :delete %> |
<%= link_to 'Back', recipes_path %>

<hr>  


<h4> Comments </h4> 

<br>

<% @recipe.comments.each do |c| %>
	<table class="table">          
		<thead>
			<tr>
   			<b> Comment written</b>
     		<i> <%= time_ago_in_words(c.created_at) %> ago </i>
					by <% t = User.find(c.user_id).email %>
							<% t = t[/(.*@)/] %>
							<%=h  t.chop %>: <br>
					<%=h c.content %>
			</tr>
		</thead>
	</table>
<% end %>

<hr>

<%= form_for([@recipe, @recipe.comments.build]) do |f| %>
    Add your comment...<br />
	  <div class="field">
		  <%= f.text_area :content %>
		</div>
		
  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>




