<!DOCTYPE html lang="en">
<html>
  <head>
    <title>Appetitus!</title>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>

		<%= render "layouts/navigation" %>

		<div class="visible-desktop">
			<br><br>
		</div>

		<div class="hidden-desktop">
			<br>
		</div>

		<div class='container'>

			<div class="visible-desktop">
				<div id="myCarousel" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
							<center>
								<img src="/assets/navbar3a.png" />
							</center>
						</div>
						<div class="item">
					 		<center>
								<img src="/assets/navbar2a.png" />
							</center>
						</div>
						<div class="item">
							<center>
								<img src="/assets/navbar1a.png" />
							</center>
						</div>
					</div>

					<script>
							$("div").carousel( { autoSlide: true } );
					</script>
				
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

				</div>

			</div>

			<%= render "layouts/messages" %>
			
			<div class="well">
				<%= yield %>
			</div>

		</div>
  </body>
</html>
